# App
PORT=3000
NODE_ENV=development
APP_URL=http://localhost:3000

# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# Test Database
TEST_DB_HOST=
TEST_DB_PORT=
TEST_DB_USERNAME=
TEST_DB_PASSWORD=
TEST_DB_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Gmail OAuth2
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REDIRECT_URL=
GMAIL_REFRESH_TOKEN=
GMAIL_USER=

# Redis
REDIS_HOST=
REDIS_PORT=

# Paystack
PAYSTACK_SECRET_KEY=
PAYSTACK_BASE_URL=https://api.paystack.co